.wp ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
.wp a {
    color: #fff;
}
.wp {
    position: relative;
    height: 1110px;
}
.wp #slider {
    position: absolute;
    height: 1100px;
    min-width: 250px;
    padding: 0 20px;
    left: 0;
    top: 0;
}
.wp .fl {
    float: left;
}
.wp .fr {
    float: right;
}
.wp #slider img {
    display: block;
    padding: 2px;
    border: 1px solid #ccc;
}
.wp #slider li {
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
    width: 100%;
}
.wp #slider p {
    font-size: 12px;
    margin: 0;
    padding-left: 68px;
    color: #333;
    line-height: 20px;
}
.introduction {
    display: none;
}
.intro-img{
    padding: 10px;
}
.intro-content{
    padding-top: 10px;
}
.intro-content-l{
    text-align:justify;
}
.intro-content p{
    text-align:justify;
    text-indent: 2em;
}
.name{
    line-height:20px;
}
#slider h5{
    margin-top: 15px !important;
}
.intro-popup {
    width: 600px;
    position: absolute;
    color: #fff;
    background-color: black;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8; 
    z-index: 100;
    font-size: 16px;
}
.circular{
    height: 80px !important;
}
.linan{
    width: 300px !important;
}
.liang{
    width: 280px !important;
}
