.wp ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
.wp a {
    color: #fff;
}
.wp {
    position: relative;
    height: 989px;
}
.wp #slider {
    position: absolute;
    height: 989px;
    padding: 0 20px;
    left: 0;
    top: 0;
}
.wp .fl {
    float: left
}
.wp #slider img {
    display: block;
    padding: 2px;
    border: 1px solid #ccc;
}
.wp #slider li {
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
    width: 100%;
}
.wp #slider p {
    font-size: 12px;
    margin: 0;
    padding-left: 68px;
    color: #333;
    line-height: 20px;
}
.introduction {
    display: none;
}
.intro-img{
    padding: 10px;
}
.intro-content{
    text-align: left;
    padding: 10px;
}
.intro-popup {
    width: 400px;
    position: absolute;
    color: #fff;
    background-color: black;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8; 
    z-index: 100;
}