body{
	position:relative;
	text-align: center;
}
.two{
}
.twelve{
	z-index: 10;
}
.page{
	min-height:100%; width:100%;
	background: #fff;
	box-shadow: 0px 4px 15px #181818;
}
.shadow{
	-moz-box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.4); 
	box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.4);
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
}
.leftbg{
	background-image: url(../images/title.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	background-color: #f3f2f1;
}
.rightbg{
	background-image: url(../images/bamboo.png);
	background-repeat: no-repeat;
	background-color: #f3f2f1;
}
ul,li {
	list-style:none;
	margin:0;
	padding:0
}
.divider{
	width: 500px;
	height: 50px;
	border: 0px;
	opacity: 0.5;
}

.banner { width:100%; height:300px; position:relative; overflow:hidden; border-radius: 20px;}

.banner .SL_bgSet{ position:relative; }
.banner .SL_bgSet li{ position:absolute; width:100%; height:300px; display:none; }

.banner .SL_menuWrap{ position:absolute; width:1000px; left:50%; margin-left:-500px; }
.banner .SL_menuWrap .SL_menuSet{ position:absolute; width:100%; top:280px; text-align:center; font-size:0; }
.banner .SL_menuWrap .SL_menuSet li{ cursor:pointer; margin:0 3px; display:inline;}

.banner .SL_prev{ position:absolute; left:100px; top:120px; cursor:pointer; display:none}
.banner .SL_next{ position:absolute; right:100px; top:120px; cursor:pointer; display:none}

header, footer{
	text-align:center !important;
}
footer {
	width:100%;
	height:100px;
	background:#323232;
	position:absolute;
  	z-index: -20;
}
.copyrights {
	margin:0 auto;
	height:80px;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
  	z-index: -15；
}
.copyrights p {
	color:#a0a0a0;
	line-height:24px;
}
header {
	z-index: 50;
	position:fixed;
	height: 250px;
	width: 150px;
	background-image: url(../images/logo.png);
	opacity: 0.9;
	background-size: 100%;
}
.lt{

}
.rt{

}
.ui.horizontal.segments{
	background: transparent !important;
}
.ui.dimmer{
	z-index: 10 !important;
}
.message{
	left: 50%;
	top: 50%;
	margin-top:-300px !important;
	margin-left: -400px !important; 
	width: 800px;
	height: 600px;
	position: fixed !important;
	overflow: auto;
	z-index: 10;
	opacity: 0.9;
    text-align:justify;
}
.message p{
	text-indent: 2em;
	font-family: STFangsong;
	line-height:25px;
}
.message img{
	padding: 10px;
}
.closemsg{
	padding: 0 !important;
	float: right;
}
.ui.segments, .ui.segment{
	border: 0px !important;
	box-shadow: none !important;
}
.e1 img,.e2 img,.e3 img,.e4 img,.e5 img,.e6 img {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.e1 img:hover,.e3 img:hover,.e5 img:hover {
	cursor:pointer;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.e2 img:hover,.e4 img:hover,.e6 img:hover {
	cursor:pointer;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}
